docker-compose.yml
docker-compose.*.yml
vendor
node_modules
storage/app/private/*
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/app/private/*
stubs
data
*.sh
*.sqlite
*.sql
*.csv
*.m3u
.env
.env.backup
.env.docker
