docker-compose.yml
vendor
node_modules
storage/app/private/*
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
stubs
*.sh
*.sqlite
*.sql
*.csv
*.m3u
