@media (max-width: 768px) {
    .fi-dropdown-panel {
        right: auto !important;
        left: 0 !important;
        /* stick to the left edge instead of right */
        max-width: 90vw !important;
        z-index: 9999 !important;
    }
}

.modal-action-group {
    .fi-sc-action {
        .fi-ac-btn-action {
            width: 100% !important;
        }
    }
}